#app {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

#login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#contacts-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-view-enter, .fade-view-leave-to {
    opacity: 0;
}

.fade-view-enter-active, .fade-view-leave-active {
    transition: opacity .5s ease-in-out;
}

.table-profile-img{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: white;
}

.table-profile-circle{
    width:25px;
    height:25px;
    border-radius:20px;
    font-size:12px;
    color:#262626;
    line-height:24px;
    text-align:center;
    background:#F8F7FD;
    font-weight: 500;
}

.table-profile-name{
    align-self: center;
}

.table-no-result-icon{
    width: 200px;
    height: 200px;
}

.table-no-result{
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table tbody tr:hover .table-btn{
    display: inline-block !important;
    color: #505050;
}

.table tbody .table-active .table-btn{
    display: inline-block !important;
    color: #505050;
}

.table-btn{
    color: rgba(0, 0, 0, 0);
    transition: all 0.18s;
}

.table tbody tr td{
    transition: all 0.5s !important;
    white-space:nowrap;
}

.table-active{
    background-color: none !important;
}

.table-active-2{
    background-color: none !important;
}

.table-active td{
    background: #F8F8F8 !important;
}

.table-active-2 td{
    background: #F8F8F8 !important;
}

table .table-active, .table-active>td, .table-active>th {
    background-color: rgb(255 255 255 / 0%);
}

table .table-active-2, .table-active-2>td, .table-active-2>th {
    background-color: rgb(255 255 255 / 0%);
}

.pointer{
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
    transition: all 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}